DATABASE_URL=sqlite:medications.db
# Generate a key at https://randomkeygen.com/vapid-key for example
VAPID_PRIVATE_KEY=<super secret>
VAPID_SUBJECT=mailto:admin@example.com
CORS_ORIGIN=http://localhost:5173
AUTH0_DOMAIN=tenant
AUTH0_AUDIENCE=audience
