DATABASE_URL=sqlite:medications.db
JWT_SECRET=<super secret>
# Generate a key at https://randomkeygen.com/vapid-key for example
VAPID_PRIVATE_KEY=<super secret>
VAPID_SUBJECT=mailto:admin@example.com
CORS_ORIGIN=http://localhost:5173
